/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
/* АНИМАЦИЯ стрелки */
@keyframes arrow {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(4px);
  }
}

.like-icon {
  cursor: pointer;
}

/* Сначала задаем цвета и переходы, но делаем прозрачными */
.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.06s;
}

.core {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s, fill 0.3s;
}

.main-body {
  fill: var(--accent-color);
  opacity: 0;
  /* делаем задержку окрашивания 0.05s */
  transition: opacity 0.3s 0.05s, fill 0.3s 0.05s;
}

.sparks {
  fill: var(--heart-color);
  opacity: 0;
}

/* Возвращаем цвава при взаимодействии */
/* При наведении */
.like-icon:hover .core {
  opacity: 1;
  fill: var(--accent-color);
}

.like-icon:hover .main-body {
  opacity: 1;
}

/* При нажатии и удержании */

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--heart-color);
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--heart-color);
}

/* При клике */
/* закрашивание основного тела */
.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--heart-color);
}
/* закрашивание контура  */
.like-icon.is-liked .contour {
  fill: var(--heart-color);
  /* перекрашивание контура привыключении */
  transition: fill 0.1s linear;
}

/* закрашивание ядра */
.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--heart-color);
}

/* Анимация увеличения размеров сердца через обращение к селектору heart */
.like-icon.is-liked .heart {
  /* обязательнно из центра */
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s ease-in alternate;
}

@keyframes heart-scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

/* Анимация искр */

.like-icon.is-liked .sparks {
  /* Эта анимация длится 0.3s  
  и запускается через 0.3s однажды, 
  с плавностью ease-in, в две стороны.  */
  animation: sparks 0.3s 0.3s ease-in alternate;
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
