/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --page-main-title-weight: 700;
  --page-main-font-weight: 400;
  --page-background-color: #ffffff;
  --page-text-color: #000000;
  /* фон страницы */
  --page-background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --button-text-color: #fff;
  /* Переменная для цвета сердца  */
  --heart-contour-color: #000;

  --accent-color: #000;
}

:root.theme-dark {
  --page-main-title-weight: 785;
  --page-main-font-weight: 465;
  --page-background-color: #000000;
  --page-text-color: #00cc14;
  /* фон страницы */
  --page-background-image: repeating-linear-gradient(
      to left,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
  --button-text-color: #00cc14;
  /* Переменная для цвета сердца  */
  --heart-contour-color: #00cc14;
  --accent-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-main-title-weight: 785;
    --page-main-font-weight: 465;
    --page-background-color: #000000;
    --page-text-color: #00cc14;
    --page-background-image: repeating-linear-gradient(
        to left,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);
    --button-text-color: #00cc14;
    /* Переменная для цвета сердца  */
    --heart-contour-color: #00cc14;

    --accent-color: #00cc14;
  }
}
